
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Demo Test Suite">
    <test name="Demo Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="listeners.AllureListener" />
    </listeners>
</suite>
